* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 40px 40px 40px;

}

.book { 
    padding: 15px;
    width: 200px;
    border: 1px solid rgb(224, 222, 222);
    text-align: center;
}

img {
    width: 130px;
    margin-top: 20px;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}

h2 {
    font-size: 12px;
    font-weight: bold;
}

p {
    font-size: 12px;
}

h3 {
    font-size: 14px;
    color: rgb(192, 45, 45);
    font-weight: bold;
    margin-bottom: 20px;
}

.readmore-btn {
    background: none;
    border: none;
    text-decoration: underline;
    color: rgb(89, 89, 189);
}

.description {
    font-size: 12px;
    font-style: italic;
}

.quote {
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-size: 14px;
}

span {
    padding: 0px 5px;
}